**/target/
**/.idea/
**/.classpath
**/.project
**/.settings/

label-ui/node_modules/
label-ui/dist/
label-ui/.vite/

label-demo/target/
label-core/target/
label-model/target/
label-adapters/target/
label-server/target/
